/* rowSpan 셀 시각적 구분용 */
.ag-rowspan-merged {
  background: #f5f7fa;
  vertical-align: middle;
  display: flex;
  align-items: center;
}
.ag-rowspan-row.ag-row-no-focus:before,
.ag-rowspan-row.ag-row-focus:before,
.ag-rowspan-row.ag-row-focus,
.ag-rowspan-hidden:hover{
  background-color: transparent !important;
}

.ag-row-focus .ag-cell.ag-rowspan-hidden,
.ag-rowspan-hidden {
  opacity: 0 !important;
  background-color: transparent !important;
  /* pointer-events: none !important; */
}
/* ===== Wrapper & Layout ===== */
:where(.ag-ltr) .ag-cell-wrapper {
  padding-left: 0 !important;
}

.text-center .ag-cell-wrapper {
  display: flex;
  justify-content: center;
}

.ag-root-wrapper {
  border-radius: 0 !important;
}

.ag-header-cell.ag-column-last,
.ag-cell.ag-column-last {
  border-right: 0 !important;
}

.ag-root {
  /* border-left: 1px solid var(--color-gray-20) !important; */
  border-top: 1px solid var(--color-table-border-border-gray) !important;
  /* border-bottom: 1px solid var(--color-gray-20) !important; */
}

.ag-root-wrapper,
.ag-row,
.ag-header,
.ag-cell,
.ag-header-cell,
.ag-full-width-row .ag-cell-wrapper.ag-row-group {
  border: 0 !important;
}

/* .ag-root-wrapper {
  border-bottom: 1px solid var(--color-gray-10) !important;
} */

.ag-theme-alpine {
  overflow: auto;
  width: 100%;
  height: 100%;
  font-size:10px;
}
.ag-theme-alpine .ag-root {
  border-top: 0.2rem solid var(--color-gray-90) !important;
  border-bottom: 0.1rem solid var(--color-gray-10) !important;
}
          
.ag-theme-alpine .ag-row {
  height: 3rem;
  /* rowHeight를 rem로 변경 */
}

.ag-theme-alpine .ag-header-row {
  height: 3rem;
  /* headerHeight를 rem로 변경 */
}

.ag-viewport {
  border: 0 !important;
}

/* ===== Header Styles ===== */
.ag-header-cell,
.ag-header-group-cell {
  padding: 0.2rem 0.2rem !important;
  background-color: var(--color-gray-5);
  border-color: var(--color-gray-10);
  border-right: 1px solid var(--color-gray-10) !important;
  border-bottom: 1px solid var(--color-gray-10) !important;
}

/* .ag-header-cell, .ag-cell {
  height: 28px;
  line-height: 28px;
} */
.ag-theme-alpine {
  --ag-row-height: 3rem;
  --ag-header-height: 3rem;
}

.ag-theme-alpine.th-s {
  --ag-header-height: 3rem;
}

.ag-theme-alpine.top-noline {
  border-top: 0 !important
}

.ag-header-cell {
  font-weight: bold;
  text-align: right;
  color: #000;
  font-size: 1.3rem;
  font-weight: 500;
}

.ag-header-cell-label,
.ag-header-group-cell-label {
  justify-content: center;
  margin: 0 auto !important;
}

.ag-header-center {
  text-align: center;
}

.ag-header-row {
  background: var(--color-gray-5) !important;
}
.ag-header-cell-resize {
  background: linear-gradient(90deg, transparent, #e0e0e0);
}
.ag-header-cell-resize:after {
  opacity: 0 !important;

}

.ag-pinned-left-header {
  border-right: 0 !important;
}

.ag-ltr .ag-header-select-all+.ag-header-cell-comp-wrapper {
  display: none;
}

/* 헤더 전체 선택 체크박스 가운데 정렬 */
.ag-header-select-all {
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

:where(.ag-ltr) .ag-sort-indicator-icon {
  padding-left: 0;
}

[aria-sort="none"] .ag-sort-mixed-icon {
  display: block !important;
}

/* ===== Row Styles ===== */

.ag-row {
  border-color: var(--color-gray-10);
  border-bottom: 1px solid var(--color-gray-10) !important;
}

/* .ag-row:last-child {
  border-bottom: 0 !important;
} */

.ag-row:first-child .ag-cell {
  border-top: 1px solid var(--color-gray-10);
}
.ag-theme-alpine .ag-row-even .ag-cell {
  background-color: #fff;;
}
.ag-theme-alpine .ag-row-odd .ag-cell {
  background-color: #fff;;
}
.ag-theme-alpine .ag-row-even {
  background-color: transparent;
}

.striped-row-gray .ag-row-odd{
  background-color: transparent;
}
.ag-theme-alpine.no-odd .ag-row-odd {
  background-color: #fff;
}

.ag-pinned-left-cols-container .ag-row {
  border-right: 1px solid var(--color-gray-10) !important;
}
.ag-row-odd {
  background-color: var(--color-gray-5) !important;
}
.ag-row-focus .ag-cell.ag-cell-value,
.ag-row-focus .ag-cell,
.ag-row-selected .editable-cell,
.ag-row-selected:before,
.ag-row.ag-row-selected,
.ag-row-focus {
  background-color: var(--color-table-td-surface-selected) !important;
}


.ag-cell-focus {
  background-color: var(--color-table-td-surface-click) !important;
}

.ag-row-hover .ag-cell-focus,
.ag-row-hover {
  background-color: var(--color-table-td-surface-hover) !important;
}
.ag-row-hover .editable-cell{
  background-color: var(--color-table-td-surface-hover) !important;
}

.ag-row-selected.ag-row-hover:before,
.ag-row-selected.ag-row-hover {
  background-color: var(--color-table-td-surface-hover) !important;
}

/* .ag-row-selected {
  background-color: var(--color-table-td-surface-selected) !important;
} */
.ag-cell .ag-icon,
.ag-cell .ag-icon:before,
.ag-header-cell-comp-wrapper :where(.ag-icon):before,
.ag-header-cell-comp-wrapper .ag-icon {
  width: 1.6rem !important;
  height: 1.6rem !important;
}

.ag-cell {
  border-right: 1px solid var(--color-gray-10) !important;
  border-bottom: 1px solid var(--color-gray-10);
  padding: 0 0.8rem !important;
  font-size: 1.3rem !important;
  /* line-height: 1.4; */
  /* word-break: break-all; */
 
}

.ag-cell.no-padding {
  padding: 0rem !important;
}
.ag-cell-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}
.ag-cell.large {
  font-size: 1.3rem;
  padding: 0;
  border-color: var(--color-gray-10);
}
.ag-cell .ag-cell-value{ 
  display: inline-block;
  padding: 0 0;
  line-height: 1.3;
  height: 100%;
}
.ag-selection-checkbox+.ag-cell-value {
  display: none;
}

/* ===== Text Alignment ===== */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
  /* padding-right: 0.9rem !important; */
}

/* ===== Checkbox Styles ===== */
:where(.ag-ltr) .ag-group-contracted,
:where(.ag-ltr) .ag-group-expanded,
:where(.ag-ltr) .ag-row-drag,
:where(.ag-ltr) .ag-selection-checkbox {
  margin-right: 0 !important;
}

.ag-selection-checkbox input[type="checkbox"] {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  border: 1px solid var(--color-gray-20);
  border-radius: 0.5rem;
}

.ag-cell input[type="checkbox"]:checked {
  background-color: var(--color-primary-50);
  border-color: var(--color-primary-50);
}

/* ===== Scrollbar Styles ===== */
/* .ag-body-vertical-scroll {
  transform: translate(-1px, 0) !important;
  border-left: 1px solid var(--color-gray-10) !important;
  border-right: 1px solid var(--color-gray-10) !important;
} */

.ag-selection-checkbox {
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.ag-header-span-total {
  justify-content: center !important;
}

.row-selectable {
  cursor: pointer;
}

.row-not-selectable {
  cursor: not-allowed;
  opacity: 0.6;
}

/* grid color system */

.ag-tooltip {
  background: #fff;
  color: var(--color-text-base);
  font-size: 1.2rem;
  border-radius: 0.4rem;
  border: 1px solid var(--color-border-gray, #CCC);
  padding: 1.2rem 1rem;
  max-width: 35rem;
  word-break: keep-all;
}
/* 
.ag-tooltip::after {
  content:"";
  position: absolute;
  display: block;
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 1.2rem;
  height: .7rem;
  background-size: 100% auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='7' viewBox='0 0 12 7' fill='none'%3E%3Cpath d='M6 6.5C6.14826 6.5 6.2888 6.43413 6.38379 6.32031L11.3838 0.320312C11.5079 0.171345 11.5353 -0.0362773 11.4531 -0.211914C11.3708 -0.387606 11.194 -0.5 11 -0.5H1C0.805991 -0.5 0.629165 -0.387606 0.546875 -0.211914C0.464734 -0.0362773 0.492071 0.171345 0.616211 0.320312L5.61621 6.32031L5.69531 6.39648C5.78189 6.46301 5.8888 6.5 6 6.5Z' fill='white' stroke='%23CCCCCC' stroke-linejoin='round'/%3E%3C/svg%3E");
} */
.ag-body {
  background-color: #f4f4f4;
}
.ag-body-vertical-scroll-container,
.ag-body-vertical-scroll-viewport,
.ag-body-vertical-scroll {
  width: .6rem !important;
  max-width: .6rem !important;
  min-width: .6rem !important;
}

.ag-wrapper.ag-picker-field-wrapper {
  padding-left:.8rem !important;
  padding-right:0.8rem !important;
  display: flex;
  gap:0.6rem;
  border: 0.1rem solid var(--color-gray-20) !important;
  border-radius: 0.4rem !important;
  height: 2.5rem;
}
.ag-icon-small-down::before{
  mask-position:50% 73%;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M9.62021 3.60161C9.835 3.38682 10.1833 3.38682 10.398 3.60161C10.6126 3.81635 10.6126 4.16422 10.398 4.37896L6.37998 8.39702C6.16518 8.6116 5.81687 8.61173 5.60215 8.39702L1.58457 4.37896C1.36985 4.16424 1.36999 3.81642 1.58457 3.60161C1.79936 3.38682 2.14713 3.38682 2.36191 3.60161L5.99082 7.23003L9.62021 3.60161Z' fill='%23777777'/%3E%3C/svg%3E");
}
.ag-picker-field-display {
  text-align: right;
}
.ag-picker-field-wrapper {
  height: 2.5rem !important;
  min-height: 2.5rem !important;
  padding:0 0!important;
}
:where(.ag-icon):before, .ag-icon{
  width: 1rem !important;
  height: 1.4rem !important;
}
.ag-pinned-left-cols-container .ag-row.ag-row-highlighted::after {
  border-top-right-radius:0;
  border-bottom-right-radius:0;
  width:calc(100% + .4rem)
}
.ag-pinned-left-cols-container + .ag-center-cols-viewport .ag-row.ag-row-highlighted::after {
  border-top-left-radius:0;
  border-bottom-left-radius:0;
  width:calc(100% + .4rem);
  transform: translateX(-.4rem);
}
.ag-row.ag-row-highlighted::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(251, 63, 63, 0.04);
  outline: 0.2rem solid #FB3F3F;
  outline-offset: -0.2rem;
  border-radius: 0.4rem;
  pointer-events: none;
  width: 100%;
  /* box-shadow: 0 14px 20px 0 rgba(251, 63, 63, 0.12); */
  z-index: 1;
}
.ag-row-selected .editable-cell {
  background: var(--color-information-15) ;
}
.editable-cell {
  background: var(--color-table-td-surface-editable) ;
}
.ag-cell-inline-editing {
  padding:0.2rem 0.6rem !important;
}
.ag-text-field-input {
  outline: 1px solid var(--color-gray-100);
  outline-offset: -1px;
  border-radius: 0.4rem;;
  text-align: right;
  padding:0 0.8rem;
}
.space-bottom-12 .ag-body-viewport{
  padding-bottom: calc(9.8rem + 1.2rem) !important;
}

/* ag-Grid 기본 체크박스 크기 및 선택 색상 커스텀 */
.ag-theme-alpine .ag-checkbox-input-wrapper {
  width: 1.4rem;
  height: 1.4rem;
  min-width: 1.4rem;
  min-height: 1.4rem;
  accent-color: var(--color-primary-50); /* 최신 브라우저 지원 */
}
.ag-row-selected .ag-selection-checkbox {
  background-color: var(--color-table-td-surface-selected) !important;
}
.ag-row-hover .ag-selection-checkbox {
  background-color: var(--color-table-td-surface-hover);
}
.ag-selection-checkbox {
  background-color: var(--color-table-td-surface-editable);
}
/* 선택 시 체크박스 배경색(구형 브라우저 대응) */
.ag-theme-alpine .ag-checkbox-input-wrapper.ag-checked {
  background-color: var(--color-primary-50);
  border-color: var(--color-primary-50);
}
.ag-selection-checkbox.ag-invisible {visibility: visible !important; }
.ag-row-selected .ag-selection-checkbox.ag-invisible .ag-disabled .ag-wrapper{
  background-color: var(--color-gray-10) !important;
  opacity: 1 !important;
}
.ag-row-selected .ag-selection-checkbox.ag-invisible .ag-disabled .ag-wrapper::after {
  color: #000 !important;
  filter: none !important;
  background-color: #000 !important;
  -webkit-mask-image: none !important;
  mask-image: none !important;
}
.ag-row-focus .editable-cell {
  background-color: var(--color-table-td-surface-selected) !important;
}
.pointer-events-none {
  pointer-events: none;
}
.pointer-events-none .ag-selection-checkbox .ag-wrapper{
  background-color: var(--color-gray-10) !important;
  border:1px solid var(--color-gray-20) !important;
}
.pointer-events-none .ag-selection-checkbox .ag-wrapper::after {
  /* mask-image: none !important; */
  background-color: var(--color-gray-50) !important;
  mask-image: var(--ag-checkbox-checked-shape-image);
}

.ag-cell-last-left-pinned {
  border-right: 0.1rem solid var(--color-gray-20) !important;
}

.aggrid-pagination-ko .ag-paging-panel {
  min-height: 3.6rem;
  border-top: 1px solid var(--color-gray-15);
  font-size: 1.2rem;
  gap: 2.4rem;
  margin-top:-0.1rem;
  padding-right:1.6rem !important;
}

.aggrid-pagination-ko .ag-paging-button {
  border-radius: 0.4rem;
}
.ag-button.ag-paging-button {
  width: 1.6rem;
  height: 1.6rem;
}
.ag-icon-next,
.ag-icon-last,
.ag-icon-previous,
.ag-icon-first {
  width: 1.6rem !important;
  height: 1.6rem !important;
}
.ag-icon-next::before {
  width: 100% !important;
  height: 100% !important;
  background-color: var(--color-blue-gray-50);
  mask-position: 50% 50%;
  mask-repeat: no-repeat;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M5.21472 2.12339C5.50104 1.83753 5.96458 1.83745 6.25085 2.12339L11.6083 7.48081C11.8945 7.7672 11.8946 8.23158 11.6083 8.51792L6.25085 13.8744C5.96449 14.1606 5.50106 14.1606 5.21472 13.8744C4.92843 13.588 4.92849 13.1246 5.21472 12.8382L10.0526 7.99937L5.21472 3.1605C4.92838 2.87416 4.92848 2.40979 5.21472 2.12339Z' fill='%236B7280'/%3E%3C/svg%3E");
}
.ag-icon-last::before {
  width: 100% !important;
  height: 100% !important;
  background-color: var(--color-blue-gray-50);
  mask-position: 50% 50%;
  mask-repeat: no-repeat;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M12.3002 1.33334C12.5945 1.3335 12.8333 1.57215 12.8334 1.86655V14.1331C12.8334 14.4276 12.5946 14.6662 12.3002 14.6664H11.8666C11.572 14.6664 11.3334 14.4277 11.3334 14.1331V1.86655C11.3334 1.57205 11.5721 1.33334 11.8666 1.33334H12.3002Z' fill='%236B7280'/%3E%3Cpath d='M3.54821 2.12338C3.83453 1.83753 4.29808 1.83744 4.58435 2.12338L9.94177 7.4808C10.228 7.76719 10.2281 8.23157 9.94177 8.51791L4.58435 13.8744C4.29799 14.1606 3.83456 14.1606 3.54821 13.8744C3.26192 13.588 3.26199 13.1246 3.54821 12.8382L8.3861 7.99936L3.54821 3.16049C3.26188 2.87415 3.26197 2.40978 3.54821 2.12338Z' fill='%236B7280'/%3E%3C/svg%3E");
}
.ag-icon-previous::before {
  width: 100% !important;
  height: 100% !important;
  background-color: var(--color-blue-gray-50);
  mask-position: 50% 50%;
  mask-repeat: no-repeat;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M10.5721 2.12325C10.8584 1.83692 11.3221 1.83702 11.6085 2.12325C11.8949 2.40963 11.8949 2.87332 11.6085 3.15971L6.77064 7.99825L11.6085 12.8374C11.8949 13.1238 11.8949 13.5882 11.6085 13.8745C11.3222 14.1605 10.8584 14.1606 10.5721 13.8745L5.21465 8.51713C4.92846 8.23077 4.92843 7.76636 5.21465 7.48002L10.5721 2.12325Z' fill='%236B7280'/%3E%3C/svg%3E");
}
.ag-icon-first::before {
  width: 100% !important;
  height: 100% !important;
  background-color: var(--color-blue-gray-50);
  mask-position: 50% 50%;
  mask-repeat: no-repeat;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M11.4388 2.12325C11.7251 1.83692 12.1888 1.83702 12.4752 2.12325C12.7616 2.40963 12.7616 2.87332 12.4752 3.15971L7.63735 7.99825L12.4752 12.8374C12.7616 13.1238 12.7616 13.5882 12.4752 13.8745C12.1889 14.1605 11.7251 14.1606 11.4388 13.8745L6.08136 8.51713C5.79517 8.23077 5.79514 7.76636 6.08136 7.48002L11.4388 2.12325Z' fill='%236B7280'/%3E%3Cpath d='M3.33337 1.86668C3.33337 1.57213 3.57216 1.33334 3.86671 1.33334H4.30004C4.59459 1.33334 4.83337 1.57212 4.83337 1.86668V14.1333C4.83337 14.4279 4.59459 14.6667 4.30004 14.6667H3.86671C3.57216 14.6667 3.33337 14.4279 3.33337 14.1333V1.86668Z' fill='%236B7280'/%3E%3C/svg%3E");
}
.ag-paging-page-summary-panel {
  display: flex;
  align-items: center;
  gap:1rem;
}
[aria-disabled="true"] .ag-icon{
  opacity: 1 !important;
}


/* 필수입력 에러메시지 */
.ag-cell.required{overflow: visible !important;}
.ag-cell.required.ag-cell-error-border .ag-input-field-input.ag-text-field-input {
  outline: 0.2rem solid var(--color-text-danger) !important;
  outline-offset: -0.1rem;
  border:0;
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}
.ag-cell.required.ag-cell-error-border.ag-cell-inline-editing:after {
  content: "필수 입력 필드입니다.";
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 10;
  bottom: calc(100% + 0.6rem);
  height: 2.4rem;
  line-height: 1.1;
  left: 0.4rem;
  padding: 0 0.8rem;
  font-size: 1.2rem;
  color: var(--color-text-danger);
  background-color: var(--color-input-surface-error); /* 배경색 (after와 맞춤) */
  border: 0.1rem solid var(--color-input-border-error);
  border-radius: 0.4rem; /* rounded-DEFAULT 기준 */
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); /* shadow-md */
}
.ag-cell.required.ag-cell-error-border.ag-cell-inline-editing:before{
  content:"";
  display: block;
  position: absolute;
  bottom: calc(100% - 0rem);
  left:1rem;
  width: 1.2rem;
  z-index: 11;
  height: 0.8rem;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 7.5C6.14826 7.5 6.2888 7.43413 6.38379 7.32031L11.3838 1.32031C11.5079 1.17134 11.5353 0.963723 11.4531 0.788086C11.3708 0.612394 11.194 0.5 11 0.5H1C0.805991 0.5 0.629165 0.612394 0.546875 0.788086C0.464734 0.963723 0.492071 1.17134 0.616211 1.32031L5.61621 7.32031L5.69531 7.39648C5.78189 7.46301 5.8888 7.5 6 7.5Z' fill='%23FFF4F4' stroke='%23E43939' stroke-linejoin='round'/%3E%3Crect width='12' height='1' fill='%23FFF4F4'/%3E%3C/svg%3E%0A");
}

.ag-row[row-index="0"] .ag-cell.required.ag-cell-error-border.ag-cell-inline-editing:after {
  bottom:auto;
  top: calc(100% + 0.6rem);
}
.ag-row[row-index="0"] .ag-cell.required.ag-cell-error-border.ag-cell-inline-editing:before {
  bottom:auto;
  top: calc(100% - 0rem);
  transform: rotate(180deg);
}

.ag-cell-expandable {
  display: flex !important;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.ag-group-child-count {
  display: none;
}
.ag-row-group-leaf-indent {
  margin-left: 0 !important;
}
.ag-input-field-input.ag-number-field-input {
  text-align: right;
}
.ag-checkbox-disabled .ag-checkbox-input-wrapper { 
  pointer-events: none; 
}
.ag-column-first.ag-cell {
  padding: 0 !important;
}
.my-row-disabled .ag-column-first.ag-cell input {
  pointer-events: none !important;
}
.my-row-disabled .ag-column-first.ag-cell .ag-checkbox-input-wrapper{
  pointer-events: none !important;
  background-color: var(--color-gray-10) !important;
  border-color: var(--color-gray-20) !important;
}
.my-row-disabled .ag-column-first.ag-cell .ag-checkbox-input-wrapper.ag-checked:after {
  background-color: var(--color-icon-gray-light) !important;
}
.ag-cell-wrapper>:where(:not(.ag-cell-value,.ag-group-value)) {
  height: 100%;
}
.my-row-isCheck.my-row-disabled .ag-column-first.ag-cell .ag-checkbox-input-wrapper {
  background-color: var(--color-primary-50) !important;
  border-color: var(--color-primary-50) !important;
}
.my-row-isCheck.my-row-disabled .ag-column-first.ag-cell .ag-checkbox-input-wrapper {
  background-color: var(--color-gray-10) !important;
  border-color: var(--color-gray-20) !important;
}
.my-row-isCheck.my-row-disabled .ag-column-first.ag-cell .ag-checkbox-input-wrapper:after {
  background-color: #fff !important;
  mask-image: var(--ag-checkbox-checked-shape-image);
  mask-size: 0.8rem !important;
}
.my-row-isCheck.my-row-disabled .ag-column-first.ag-cell .ag-checkbox-input-wrapper:after {
  background-color: var(--color-icon-gray-light) !important;
  mask-image: var(--ag-checkbox-checked-shape-image);
  mask-size: 0.8rem !important;
}
.ag-checkbox-input-wrapper:where(.ag-disabled),
.ag-checkbox-input-wrapper{
  overflow: hidden;
  opacity: 1;
}
.ag-checkbox-input:disabled, 
.ag-radio-button-input:disabled {
  background-color: var(--color-gray-10) !important;
  border-color: var(--color-gray-20) !important;
  opacity: 1 !important;
}
.ag-selection-checkbox input[type="checkbox"] {
  width: 100%;
  height: 100%;
  border:0 !important
}