.ag-theme-alpine {
  width: 100%;
  height: 100%;
}
.ag-theme-alpine .ag-root {
  background-color: var(--color-gray-5);
}
.ag-theme-alpine.th-s {
  --ag-header-height: 3rem;
}

.ag-body-viewport {
  background-color: var(--color-gray-5);
}

.ag-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.ag-root-wrapper {
  border-radius: 0 !important;
  border-left: 0;
  border-right: 0;
  border-top: 0.2rem solid #000;
  /* overflow: visible !important; */
}

.ag-center-cols-container > [role='row']:nth-child(2n) {
  background-color: transparent;
}

/* .ag-row-odd {
  background-color: transparent;
} */

/* ===== Row Span Cell ===== */
/* suppressRowTransform 사용 시 스팬된 셀이 absolute 포지션으로 올라오므로
   배경색이 없으면 뒤 행이 비쳐 보임 → 배경색 필수 */
.ag-row .ag-cell.row-span-cell {
  background-color: #fff;
  z-index: 1;
}
.ag-row.ag-row-even .ag-cell.row-span-cell {
  background-color: #fff;
}
.ag-row.ag-row-odd .ag-cell.row-span-cell {
  background-color: var(--ag-odd-row-background-color, #f9f9f9);
}

/* header */
.ag-header {
  height: 3rem;
}

.ag-header-cell-resize {
  background: linear-gradient(90deg, transparent, #e0e0e0);
}

.ag-header-cell-resize:after {
  opacity: 0 !important;
}

.ag-header-cell-label,
.ag-header-group-cell-label {
  justify-content: center;
  margin: 0 auto !important;
}
.ag-header-group-cell.ag-column-first.ag-header-group-cell-with-group {
  border-right: 1px solid var(--color-gray-10) !important;
}
.ag-header-cell {
  font-weight: bold;
  text-align: right;
  color: #000;
  font-size: 1.3rem;
  font-weight: 500;

  padding: 0 !important;
  border-right: 1px solid var(--color-gray-10) !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ag-header-row {
  background: var(--color-gray-5) !important;
}

.ag-theme-alpine .ag-header-group-cell.ag-header-left-divider,
.ag-theme-alpine .ag-header-cell.ag-header-left-divider {
  border-left: 0.1rem solid var(--color-gray-10) !important;
}

.ag-theme-alpine .ag-header-group-cell.ag-header-right-divider,
.ag-theme-alpine .ag-header-cell.ag-header-right-divider {
  border-right: 0.1rem solid var(--color-gray-10) !important;
}

.ag-cell {
  border: 0;
  border-right: 1px solid var(--color-gray-10);
  padding: 0 0.6rem !important;
  font-size: 1.3rem !important;
  min-height: 2.9rem;
  /* display: inline-flex; */
  align-items: center;
  width: 100%;
}

.ag-cell-wrapper {
  width: 100%;
}

.ag-cell-focus:not(.ag-cell-range-selected):focus-within,
.ag-cell-range-single-cell,
.ag-cell-range-single-cell.ag-cell-range-handle,
.ag-context-menu-open .ag-cell-focus:not(.ag-cell-range-selected),
.ag-context-menu-open .ag-full-width-row.ag-row-focus .ag-cell-wrapper.ag-row-group,
.ag-full-width-row.ag-row-focus:focus .ag-cell-wrapper.ag-row-group {
  border: 0;
}

.ag-row.ag-row-focus .ag-cell,
.ag-row.ag-row-focus .editable-cell,
.ag-row.ag-row-focus {
  background-color: var(--color-warning-10);
}

.ag-row.ag-row-focus .ag-cell.ag-cell-focus {
  background-color: var(--color-warning-15);
}

.ag-row-hover.editable-cell,
.ag-row-hover.editable-cell .ag-cell,
.ag-row-hover .ag-cell {
  background-color: var(--color-gray-10) !important;
}

.editable-cell {
  background: var(--color-information-5);
}

.editor-select svg {
  display: none;
}

.ag-row-selected .editor-select svg {
  display: block;
}

/* 
.editable-cell .editor-select svg {
  display: block;
} */

/* .ag-row.ag-row-selected .editable-cell,
.ag-row-selected {
  background-color: var(--color-warning-10);
} */
.ag-theme-alpine .ag-row.ag-row-state-true .ag-cell *:not(button) {
  color: var(--color-gray-50);
}
.ag-theme-alpine .ag-row.ag-row-state-true .ag-cell button[data-variant='outlined'] span {
  color: var(--color-primary-50);
}
.ag-theme-alpine .ag-row.ag-row-state-true {
  --color-text-base: var(--color-gray-50);
}

/* 분할 정렬 */
.ltpa010-grid .ag-cell[col-id='ag-Grid-SelectionColumn'] {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.ltpa010-grid .ag-cell[col-id='ag-Grid-SelectionColumn'] .ag-cell-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ltpa010-grid .ag-cell[col-id='ag-Grid-SelectionColumn'] .ag-selection-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 합계 */
.ag-floating-bottom + .ag-body-horizontal-scroll {
  border-top: 0.1rem solid var(--color-gray-10);
  /* background-color: var(--color-primary-10); */
}
.ag-floating-bottom,
.ag-floating-bottom .ag-row {
  background: var(--color-primary-10) !important;
  overflow-y: hidden;
}

.ag-floating-bottom {
  background: var(--color-primary-10);
  overflow: hidden !important;
  border-top: 0.1rem solid var(--color-primary-50);
}

.ag-floating-bottom + .ag-body-horizontal-scroll.ag-invisible,
.ag-floating-bottom.ag-invisible + .ag-body-horizontal-scroll,
.ag-floating-bottom.ag-invisible {
  border: 0;
}

.ag-floating-bottom .ag-row-focus {
  background: var(--color-primary-10);
}

.ag-theme-alpine ::-webkit-scrollbar {
  width: 1.5rem !important;
  height: 1.5rem !important;
}
.ag-theme-alpine ::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0rem;
}
.ag-theme-alpine ::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 2rem;
  border: 0.6rem solid #f1f1f1;
}
.ag-theme-alpine ::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
  border: 0.4rem solid #f1f1f1;
}

.ag-header-viewport {
  border-bottom: 0.1rem solid var(--color-gray-10) !important;
}
.ag-header .ag-header-viewport,
.ag-header-container {
  background-color: var(--color-gray-5);
}

/* .ag-theme-alpine{
  min-height:18rem;
} */
.ag-theme-alpine .ag-floating-bottom-container {
  width: 100%;
}

.ag-theme-alpine .ag-floating-bottom .ag-row-even .ag-cell:first-child {
  padding-left: 0.6rem;
}

.ag-theme-alpine .ag-floating-bottom .ag-row-even .ag-cell {
  background-color: transparent;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 0;
  color: var(--color-primary-50);
  border: 0;
}

.ag-row-selected:before {
  background-color: transparent;
}

.ag-theme-alpine .ag-floating-bottom-container .ag-row + .ag-row:last-child {
  border-top: 0.1rem solid var(--color-primary-50);
}

/* .ag-row-selected:before {
  background-color: var(--color-warning-10);
} */
:where(.ag-body-vertical-content-no-gap > div > div > div, .ag-body-vertical-content-no-gap > div > div > div > div)
  > .ag-row-last {
  border-bottom-color: var(--color-gray-10);
}

:where(.ag-ltr) .ag-group-contracted,
:where(.ag-ltr) .ag-group-expanded,
:where(.ag-ltr) .ag-row-drag,
:where(.ag-ltr) .ag-selection-checkbox {
  margin-right: 0 !important;
}

.ag-selection-checkbox {
  width: 100%;
  flex: 1;
}

.ag-selection-checkbox + .ag-cell-value {
  display: none;
}

.ag-input-field {
  width: 100%;
  height: 100%;
  justify-content: center;
}

.ag-cell-wrapper,
.ag-cell-value {
  min-height: 100%;
  letter-spacing: -0.08rem;
}

/* 대상 컬럼: 2줄 셀 행 높이 고정 */
.ag-cell.field02-cell .ag-cell-value {
  display: flex !important;
  flex-direction: column;
  height: 2.9rem !important;
}

/* .ag-cell-wrapper .ag-cell-value {
  line-height: 1.3;
  padding: 0.2rem 0;
} */
:where(.ag-cell-editor) .ag-input-field-input {
  max-height: 2.6rem !important;
  min-height: 2.6rem !important;
}

/* 선택 시 체크박스 배경색(구형 브라우저 대응) */
.ag-checkbox + .ag-header-cell-comp-wrapper {
  display: none;
}

.ag-theme-alpine .ag-checkbox-input-wrapper.ag-checked {
  background-color: var(--color-primary-50);
  border-color: var(--color-primary-50);
}

.ag-selection-checkbox.ag-invisible {
  visibility: visible !important;
}

.ag-row-selected .ag-selection-checkbox.ag-invisible .ag-disabled .ag-wrapper {
  background-color: var(--color-gray-10) !important;
  opacity: 1 !important;
}

.ag-row-selected .ag-selection-checkbox.ag-invisible .ag-disabled .ag-wrapper::after {
  color: #000 !important;
  filter: none !important;
  background-color: #000 !important;
  -webkit-mask-image: none !important;
  mask-image: none !important;
}

.pointer-events-none {
  pointer-events: none;
}

.pointer-events-none .ag-selection-checkbox .ag-wrapper {
  background-color: var(--color-gray-10) !important;
  border: 1px solid var(--color-gray-20) !important;
}

.pointer-events-none .ag-selection-checkbox .ag-wrapper::after {
  /* mask-image: none !important; */
  background-color: var(--color-gray-50) !important;
  mask-image: var(--ag-checkbox-checked-shape-image);
}

.ag-pinned-left-floating-bottom .ag-cell-last-left-pinned {
  border-right: 0 !important;
}

.ag-pinned-left-cols-container {
  border-right: 0.1rem solid var(--color-gray-100) !important;
}

/* 필수입력 에러메시지 */
.ag-group-child-count {
  display: none;
}

.ag-picker-field-wrapper:focus,
.ag-input-field-input:focus {
  border: 0;
  outline: 0.2rem solid #000;
  outline-offset: -0.2rem;
}

.ag-picker-field-wrapper,
.ag-input-field-input {
  box-sizing: border-box;
  border-radius: 0.4rem;
  padding: 0.2rem 0.8rem;
  height: 2.5rem;
}

.ag-picker-field-wrapper {
  gap: 0.4rem;
}

.ag-picker-field-wrapper .ag-picker-field-display {
  text-align: right;
}

.ag-input-field-input.ag-number-field-input {
  text-align: right;
}

:where(.ag-icon):before,
.ag-icon {
  width: 1.6rem !important;
  height: 1.6rem !important;
}

.ag-picker-field-wrapper,
.ag-input-field-input {
  padding: 0 0.4rem !important;
  height: 2.5rem !important;
  min-height: 2.5rem !important;
}

.ag-icon-small-down::before {
  mask-position: 50% 73%;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M12.134 5.33325C12.5929 5.33325 12.8361 5.90224 12.5313 6.26236L8.39784 11.1458C8.18629 11.3957 7.81413 11.3957 7.60257 11.1458L3.46846 6.26236C3.16396 5.90222 3.40765 5.33325 3.86642 5.33325H12.134Z' fill='%23545454'/%3E%3C/svg%3E");
}

.ag-cell.required.ag-cell-error-border {
  background-color: var(--color-input-surface-error) !important;
}

.ag-cell.required {
  overflow: visible !important;
}

.ag-cell.required.ag-cell-error-border .ag-input-field-input.ag-text-field-input {
  outline: 0.2rem solid var(--color-text-danger) !important;
  outline-offset: -0.1rem;
  border: 0;
  box-shadow:
    var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow);
}

.ag-cell.required.ag-cell-error-border.ag-cell-inline-editing:after {
  content: '필수 입력 필드입니다.';
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 10;
  bottom: calc(100% + 0.6rem);
  height: 2.4rem;
  line-height: 1.1;
  left: 0.4rem;
  padding: 0 0.8rem;
  font-size: 1.2rem;
  color: var(--color-text-danger);
  background-color: var(--color-input-surface-error);
  /* 배경색 (after와 맞춤) */
  border: 0.1rem solid var(--color-input-border-error);
  border-radius: 0.4rem;
  /* rounded-DEFAULT 기준 */
  box-shadow:
    0 0.4rem 0.6rem -0.1rem rgb(0 0 0 / 0.1),
    0 0.2rem 0.4rem -0.2rem rgb(0 0 0 / 0.1);
  /* shadow-md */
}

.ag-cell.required.ag-cell-error-border.ag-cell-inline-editing:before {
  content: '';
  display: block;
  position: absolute;
  bottom: calc(100% - 0rem);
  left: 1rem;
  width: 1.2rem;
  z-index: 11;
  height: 0.8rem;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 7.5C6.14826 7.5 6.2888 7.43413 6.38379 7.32031L11.3838 1.32031C11.5079 1.17134 11.5353 0.963723 11.4531 0.788086C11.3708 0.612394 11.194 0.5 11 0.5H1C0.805991 0.5 0.629165 0.612394 0.546875 0.788086C0.464734 0.963723 0.492071 1.17134 0.616211 1.32031L5.61621 7.32031L5.69531 7.39648C5.78189 7.46301 5.8888 7.5 6 7.5Z' fill='%23FFFFFF' stroke='%23E43939' stroke-linejoin='round'/%3E%3Crect width='12' height='1' fill='%23FFF4F4'/%3E%3C/svg%3E%0A");
}

.ag-row .ag-column-last {
  border-right: 0 !important;
}

.ag-row[row-index='0'] .ag-cell.required.ag-cell-error-border.ag-cell-inline-editing:after {
  bottom: auto;
  top: calc(100% + 0.6rem);
}

.ag-row[row-index='0'] .ag-cell.required.ag-cell-error-border.ag-cell-inline-editing:before {
  bottom: auto;
  top: calc(100% - 0rem);
  transform: rotate(180deg);
}

.ag-cell-inline-editing {
  border: 0 !important;
  border-radius: 0 !important;
  border-right: 0.1rem solid var(--color-gray-10) !important;
  box-shadow: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Tree data  ag-row-group */
:where(.ag-ltr) .ag-cell-wrapper {
  padding-left: 0 !important;
}

.ag-row-group-leaf-indent {
  margin-left: 2rem !important;
}

.ag-row-group-leaf-indent.ag-row-group-indent-0 {
  margin-left: 0rem !important;
}

.ag-cell-expandable {
  display: flex !important;
  flex-direction: row;
  justify-content: start;
  gap: 0.2rem;
}

.ag-row-group-leaf-indent.ag-row-group-indent-0 .ag-group-value,
.ag-cell-expandable .ag-group-value {
  font-weight: 700;
}

.ag-theme-alpine .ag-icon-tree-closed::before {
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M7.99992 5.66667C8.36811 5.66667 8.66658 5.96514 8.66658 6.33333V8H10.3333C10.7014 8 10.9999 8.29848 10.9999 8.66667C10.9999 9.03486 10.7014 9.33333 10.3333 9.33333H8.66658V11C8.66658 11.3682 8.36811 11.6667 7.99992 11.6667C7.63173 11.6667 7.33325 11.3682 7.33325 11V9.33333H5.66659C5.2984 9.33333 4.99992 9.03486 4.99992 8.66667C4.99992 8.29848 5.2984 8 5.66659 8H7.33325V6.33333C7.33325 5.96514 7.63173 5.66667 7.99992 5.66667Z' fill='%23006FF2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.1145 1.93359C6.66244 1.93365 7.18793 2.15102 7.57544 2.53841L8.12817 3.09115C8.24063 3.20348 8.39305 3.26687 8.552 3.26693H12.6666C13.808 3.26693 14.733 4.19195 14.733 5.33333V12C14.733 13.1414 13.808 14.0664 12.6666 14.0664H3.33325C2.19186 14.0664 1.26685 13.1414 1.26685 12V4C1.26685 2.85861 2.19186 1.93359 3.33325 1.93359H6.1145ZM3.33325 3.39974C3.00188 3.39974 2.73299 3.66863 2.73299 4V12C2.73299 12.3314 3.00188 12.6003 3.33325 12.6003H12.6666C12.998 12.6003 13.2668 12.3314 13.2668 12V5.33333C13.2668 5.00196 12.998 4.73307 12.6666 4.73307H8.552C8.00407 4.73302 7.47857 4.51564 7.09106 4.12826L6.53833 3.57552C6.42588 3.46319 6.27345 3.39979 6.1145 3.39974H3.33325Z' fill='%23006FF2'/%3E%3C/svg%3E");
  mask-position: 50% 50%;
  mask-size: 1.6rem 1.6rem;
  mask-repeat: no-repeat;
  color: var(--color-information-50);
}

.ag-theme-alpine .ag-icon-tree-open::before {
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M10.3333 8C10.7014 8 10.9999 8.29848 10.9999 8.66667C10.9999 9.03486 10.7014 9.33333 10.3333 9.33333H5.66659C5.2984 9.33333 4.99992 9.03486 4.99992 8.66667C4.99992 8.29848 5.2984 8 5.66659 8H10.3333Z' fill='%23006FF2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.1145 1.93359C6.66244 1.93365 7.18793 2.15102 7.57544 2.53841L8.12817 3.09115C8.24063 3.20348 8.39305 3.26687 8.552 3.26693H12.6666C13.808 3.26693 14.733 4.19195 14.733 5.33333V12C14.733 13.1414 13.808 14.0664 12.6666 14.0664H3.33325C2.19186 14.0664 1.26685 13.1414 1.26685 12V4C1.26685 2.85861 2.19186 1.93359 3.33325 1.93359H6.1145ZM3.33325 3.39974C3.00188 3.39974 2.73299 3.66863 2.73299 4V12C2.73299 12.3314 3.00188 12.6003 3.33325 12.6003H12.6666C12.998 12.6003 13.2668 12.3314 13.2668 12V5.33333C13.2668 5.00196 12.998 4.73307 12.6666 4.73307H8.552C8.00407 4.73302 7.47857 4.51564 7.09106 4.12826L6.53833 3.57552C6.42588 3.46319 6.27345 3.39979 6.1145 3.39974H3.33325Z' fill='%23006FF2'/%3E%3C/svg%3E");
  mask-position: 50% 50%;
  mask-size: 1.6rem 1.6rem;
  mask-repeat: no-repeat;
  color: var(--color-information-50);
}

/* 아코디언 안에 감싸져들어갈때 문제 */
.ag-theme-alpine {
  position: relative;
}

/* .ag-theme-alpine > div{
 position: absolute;
 width: 100%; 
} */
.ag-center-cols-viewport {
  min-height: 0rem !important;
}

.ag-overlay {
  position: relative;
}

.ag-overlay-wrapper {
  padding-bottom: 3rem;
  padding-top: 3rem !important;
}

.is-duplicate .uiux-duplicate-btn {
  display: none;
}

/* noheader */
.no-header .ag-header,
.no-header .ag-pinned-left-header,
.no-header .ag-pinned-right-header {
  display: none !important;
  height: 0 !important;
  min-height: 0 !important;
  border: 0 !important;
}

.no-header .ag-root-wrapper-body {
  border-top: 0 !important;
}

.no-header .ag-root-wrapper,
.no-header .ag-root {
  border: 0 !important;
  box-shadow: none !important;
}

/* notopborder */
.ag-border-t .ag-root-wrapper {
  border-top: 0 !important;
}

/* .ag-header-cell-text{
  width: 100%;
  display: block;
  text-align: center;
} */

.ag-header-cell-label .ag-header-cell-text {
  overflow: visible !important;
}

.ag-tooltip {
  max-width: 30rem;
  border-radius: 0.6rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  color: var(--color-gray-70);
  letter-spacing: -0.03rem;
  border: 1px solid var(--color-gray-20) !important;
}

/* 라디오 버튼 스타일 */
.ag-theme-alpine.radio-selection .ag-checkbox-input-wrapper {
  position: relative;
  width: 1.4rem !important;
  height: 1.4rem !important;
  border-radius: 9999px !important;
  border: 1px solid var(--color-border-gray-light) !important;
  background-color: var(--color-element-inverse) !important;
}

.ag-theme-alpine.radio-selection .ag-checkbox-input-wrapper::after {
  content: '' !important;
  position: absolute !important;
  top: 50%;
  left: 50%;
  width: 0.8rem !important;
  height: 0.8rem !important;
  border-radius: 9999px !important;
  background-color: transparent !important;
  transform: translate(-50%, -50%);
  -webkit-mask-image: none !important;
  mask-image: none !important;
}

.ag-theme-alpine.radio-selection .ag-checkbox-input-wrapper.ag-checked::after {
  background-color: var(--color-element-primary) !important;
}

.ag-cell-value:not(.ag-allow-overflow),
.ag-group-value {
  overflow: hidden;
  text-overflow: clip;
}

.truncate-no {
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

.ag-header-group-text {
  font-size: 1.3rem;
  font-weight: 500;
}

/* .ag-blue-text .ag-cell {
  color: var(--color-information-50);
} */

.ag-row-new .editable-cell svg {
  display: block;
}

.isStandard {
  background-color: var(--color-purple-10) !important;
}

.no-edited svg {
  display: none !important;
}

.no-edited {
  background-color: transparent !important;
}

.isStandardGroup,
.ag-row-group-expanded .isStandardGroup,
.ag-row-group-contracted .isStandardGroup {
  background-color: #fff !important;
}

.isStandard:after {
  content: '기준담보의 가입금액을 변경하세요.';
  display: none;
  align-items: center;
  position: absolute;
  z-index: 10;
  bottom: calc(100% + 0.6rem);
  height: 2.4rem;
  line-height: 1.1;
  left: 0.4rem;
  padding: 0 0.8rem;
  font-size: 1.2rem;
  color: var(--color-gray-70);
  background-color: #fff;
  /* 배경색 (after와 맞춤) */
  border: 0.1rem solid var(--color-gray-20);
  border-radius: 0.4rem;
  /* rounded-DEFAULT 기준 */
  box-shadow:
    0 0.4rem 0.6rem -0.1rem rgb(0 0 0 / 0.1),
    0 0.2rem 0.4rem -0.2rem rgb(0 0 0 / 0.1);
  /* shadow-md */
}

.isStandard:before {
  content: '';
  display: none;
  position: absolute;
  bottom: calc(100% - 0rem);
  left: 1rem;
  width: 1.2rem;
  z-index: 11;
  height: 0.8rem;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 7.5C6.14826 7.5 6.2888 7.43413 6.38379 7.32031L11.3838 1.32031C11.5079 1.17134 11.5353 0.963723 11.4531 0.788086C11.3708 0.612394 11.194 0.5 11 0.5H1C0.805991 0.5 0.629165 0.612394 0.546875 0.788086C0.464734 0.963723 0.492071 1.17134 0.616211 1.32031L5.61621 7.32031L5.69531 7.39648C5.78189 7.46301 5.8888 7.5 6 7.5Z' fill='%23FFF4F4' stroke='%23CCCCCC' stroke-linejoin='round'/%3E%3Crect width='12' height='1' fill='%23FFFFFF'/%3E%3C/svg%3E%0A");
}

.isStandard.tooltip-on {
  overflow: visible !important;
}

.isStandard.tooltip-on:after,
.isStandard.tooltip-on:before {
  display: flex;
}

.tooltip-hidden-toggle .ag-tooltip {
  display: none !important;
}

/* show-product-tooltip 클래스가 있을 때만 보임 */
.tooltip-hidden-toggle.show-product-tooltip .ag-tooltip {
  display: block !important;
}

.isError .ag-cell-value {
  font-weight: 700;
  color: var(--color-text-danger) !important;
  background-color: var(--color-warning-10) !important;
}

.style-select button {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.4rem;
}

.style-select button::after {
  content: '';
  display: none;
  width: 1.6rem;
  height: 1.6rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M12.134 5.33325C12.5929 5.33325 12.8361 5.90224 12.5313 6.26236L8.39784 11.1458C8.18629 11.3957 7.81413 11.3957 7.60257 11.1458L3.46846 6.26236C3.16396 5.90222 3.40765 5.33325 3.86642 5.33325H12.134Z' fill='%23545454'/%3E%3C/svg%3E");
}

.ag-row-selected .style-select button::after {
  display: block;
}

:where(.ag-ltr) .ag-sort-indicator-icon {
  padding-left: 0 !important;
}

.ag-header-cell-comp-wrapper :where(.ag-icon):before,
.ag-header-cell-comp-wrapper .ag-icon {
  width: 1.2rem !important;
  height: 1.2rem !important;
  transform: translateY(0.05rem);
}
.ag-icon-none::before {
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M11.3981 2.6878C11.7169 2.32385 12.2836 2.32374 12.6022 2.6878L17.8395 8.67315C18.2919 9.19043 17.9242 10.0003 17.237 10.0003H13.0993V14.0003H17.237C17.9241 14.0003 18.2915 14.8092 17.8395 15.3265L12.6022 21.3118C12.2835 21.6761 11.7168 21.6761 11.3981 21.3118L6.16081 15.3265C5.70859 14.8092 6.07615 14.0003 6.76335 14.0003H10.9001V10.0003H6.76335C6.07603 10.0003 5.70821 9.19042 6.16081 8.67315L11.3981 2.6878Z' fill='%23414141'/%3E%3C/svg%3E") !important;
  background-color: var(--color-gray-60) !important;
}
.ag-icon-desc::before {
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M11.9995 2.34216C12.7276 2.34232 13.3176 2.93215 13.3176 3.6603V13.2501H18.2776C19.1015 13.2501 19.5423 14.221 18.9999 14.841L12.7217 22.0147C12.3397 22.4513 11.6604 22.4513 11.2784 22.0147L5.00024 14.841C4.45769 14.221 4.89861 13.2501 5.72253 13.2501H10.6813V3.6603C10.6813 2.93218 11.2714 2.34237 11.9995 2.34216Z' fill='%23414141'/%3E%3C/svg%3E") !important;
  background-color: var(--color-gray-60) !important;
}
.ag-icon-asc::before {
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M11.9995 2.34216C12.7276 2.34232 13.3176 2.93215 13.3176 3.6603V13.2501H18.2776C19.1015 13.2501 19.5423 14.221 18.9999 14.841L12.7217 22.0147C12.3397 22.4513 11.6604 22.4513 11.2784 22.0147L5.00024 14.841C4.45769 14.221 4.89861 13.2501 5.72253 13.2501H10.6813V3.6603C10.6813 2.93218 11.2714 2.34237 11.9995 2.34216Z' fill='%23414141'/%3E%3C/svg%3E") !important;
  transform: rotate(180deg);
  background-color: var(--color-gray-60) !important;
}

.ag-header-cell-menu-button {
  display: none !important;
}

/* subtotal 행 배경색 */
.ag-row.ag-row-subtotal {
  background-color: var(--color-primary-10) !important;
  color: var(--color-primary-50) !important;
  font-weight: 700;
  border-top: 1px solid var(--color-primary-50) !important;
}

.ag-row.ag-row-subtotal:hover,
.ag-row.ag-row-subtotal.ag-row-hover {
  background-color: var(--color-primary-10) !important;
  color: var(--color-primary-50) !important;
}
.modify-cell {
  background-color: #cbe3ff !important;
}

/* agGrid header bg, border 색상 변경 */
.ag-theme-alpine .ag-header-group-cell.ag-header-color,
.ag-theme-alpine .ag-header-cell.ag-header-color {
  background-color: var(--color-primary-15) !important;
}
.ag-header-cell.ag-header-color {
  border-right: 0.1rem solid var(--color-white) !important;
}

.ag-theme-alpine.ag-header-color-grid {
  --ag-header-row-border: solid 0.1rem var(--color-white);
}
.ag-theme-alpine
  :where(.ag-header-cell.ag-header-color:not(.ag-header-span-height.ag-header-span-total, .ag-header-parent-hidden)) {
  border-top: 0.1rem solid var(--color-white) !important;
}
.ag-header-row-column .ag-header-cell:last-child {
  /* border-right: 0 !important; */
}

/* header 두 줄 시 sortable 적용해야 할 때 */
.ag-theme-alpine.ag-header-preline-grid .ag-header-cell.ag-header-preline .ag-header-cell-text {
  white-space: pre-line !important;
  line-height: 1.2;
  text-align: center;
}

.ag-header-group-cell .ag-header-cell-comp-wrapper .ag-header-group-text {
  overflow: visible;
}

.cell-span-style {
  background-color: #ffffff;
  border-bottom: 1px solid #dde2eb !important;
  display: flex;
  align-items: center; /* 텍스트 중앙 정렬 */
  z-index: 1;
}

.row-cloning .ag-cell {
  background-color: var(--color-yellow-10) !important;
}

.ltpz020-table-1 .ag-header {
  display: none !important;
}
.ltpz020-table-1 .ag-cell:first-child {
  background-color: var(--color-gray-5);
  font-weight: 700;
}
.ltpz020-table-1 .ag-cell:first-child.editable-cell {
  background-color: var(--color-information-5);
}

/* .ag-cell-value:not(.ag-allow-overflow), .ag-group-value {
  overflow: visible;
} */

.ag-select-list {
  max-height: 200px !important; /* 원하시는 높이로 조절 */
  overflow-y: auto !important; /* 항목이 많으면 스크롤 생성 */
  letter-spacing: 0 !important;
}
.ltpz012-final-grid .ag-cell b {
  font-weight: 700;
}
.ltpz012-final-grid .ag-cell {
  font-weight: 700;
  color: var(--color-primary-50) !important;
}

/* .ag-invisible.ag-body-horizontal-scroll {
  height: 0 !important;
  min-height: 0 !important;
  max-height: 0 !important;
}
.ag-body-horizontal-scroll{
  height: 0.8rem !important;
  min-height: 0.8rem !important;
  max-height: 0.8rem !important;
}
.ag-body-horizontal-scroll-viewport {
  height: 0.8rem !important; 
  min-height: 0.8rem !important;
  max-height: 0.8rem !important;
} */

.ag-cell-value[role='presentation'] {
  letter-spacing: -0.08rem !important;
  padding-right: 0.08rem !important;
}

.ag-theme-alpine.inner-scroll .ag-root-wrapper-body {
  height: auto !important;
}
.ag-theme-alpine.inner-scroll:not([data-row='0']) .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 15rem !important;
}
.ag-theme-alpine.inner-scroll[data-row='1'] .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 3rem !important;
  min-height: 3rem !important;
  max-height: 3rem !important;
}
.ag-theme-alpine.inner-scroll[data-row='2'] .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 6rem !important;
  min-height: 6rem !important;
  max-height: 6rem !important;
}
.ag-theme-alpine.inner-scroll[data-row='3'] .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 9rem !important;
  min-height: 9rem !important;
  max-height: 9rem !important;
}
.ag-theme-alpine.inner-scroll[data-row='4'] .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 12rem !important;
  min-height: 12rem !important;
  max-height: 12rem !important;
}
.ag-theme-alpine.inner-scroll[data-row='5'] .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 15rem !important;
  min-height: 15rem !important;
  max-height: 15rem !important;
}

.ag-theme-alpine.inner-scroll[data-page='1'] .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 100%;
  max-height: 3rem !important;
}
.ag-theme-alpine.inner-scroll[data-page='2'] .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 100%;
  max-height: 6rem !important;
}
.ag-theme-alpine.inner-scroll[data-page='3'] .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 100%;
  max-height: 9rem !important;
}
.ag-theme-alpine.inner-scroll[data-page='4'] .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 100%;
  max-height: 12rem !important;
}
.ag-theme-alpine.inner-scroll[data-page='5'] .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 100%;
  max-height: 15rem !important;
}
.ag-theme-alpine.inner-scroll[data-page='6'] .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 100%;
  max-height: 18rem !important;
}
.ag-theme-alpine.inner-scroll[data-page='7'] .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 100%;
  max-height: 21rem !important;
}
.ag-theme-alpine.inner-scroll[data-page='8'] .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 100%;
  max-height: 24rem !important;
}
.ag-theme-alpine.inner-scroll[data-page='9'] .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 100%;
  max-height: 27rem !important;
}
.ag-theme-alpine.inner-scroll[data-page='10'] .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 100%;
  max-height: 30rem !important;
}
.ag-theme-alpine.inner-scroll[data-page='11'] .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 100%;
  max-height: 33rem !important;
}
.ag-theme-alpine.inner-scroll[data-page='12'] .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 100%;
  max-height: 36rem !important;
}
.ag-theme-alpine.inner-scroll[data-page='13'] .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 100%;
  max-height: 39rem !important;
}
.ag-theme-alpine.inner-scroll[data-page='14'] .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 100%;
  max-height: 42rem !important;
}
.ag-theme-alpine.inner-scroll[data-page='15'] .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 100%;
  max-height: 45rem !important;
}
.ag-theme-alpine.inner-scroll[data-page='16'] .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 100%;
  max-height: 48rem !important;
}
.ag-theme-alpine.inner-scroll[data-page='17'] .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 100%;
  max-height: 51rem !important;
}
.ag-theme-alpine.inner-scroll[data-page='18'] .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 100%;
  max-height: 54rem !important;
}
.ag-theme-alpine.inner-scroll[data-page='19'] .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 100%;
  max-height: 57rem !important;
}
.ag-theme-alpine.inner-scroll[data-page='20'] .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 100%;
  max-height: 60rem !important;
}
.ag-theme-alpine.inner-scroll[data-page='21'] .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 100%;
  max-height: 63rem !important;
}
.ag-theme-alpine.inner-scroll[data-page='22'] .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 100%;
  max-height: 66rem !important;
}
.ag-theme-alpine.inner-scroll[data-page='23'] .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 100%;
  max-height: 69rem !important;
}
.ag-theme-alpine.inner-scroll[data-page='24'] .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 100%;
  max-height: 72rem !important;
}
.ag-theme-alpine.inner-scroll[data-page='25'] .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 100%;
  max-height: 75rem !important;
}
.ag-theme-alpine.inner-scroll[data-page='26'] .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 100%;
  max-height: 78rem !important;
}
.ag-theme-alpine.inner-scroll[data-page='27'] .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 100%;
  max-height: 81rem !important;
}
.ag-theme-alpine.inner-scroll[data-page='28'] .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 100%;
  max-height: 84rem !important;
}
.ag-theme-alpine.inner-scroll[data-page='29'] .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 100%;
  max-height: 87rem !important;
}
.ag-theme-alpine.inner-scroll[data-page='30'] .ag-root-wrapper-body .ag-body.ag-layout-normal {
  height: 100%;
  max-height: 90rem !important;
}

.Ltpz070 .ag-header .ag-header-viewport,
.Ltpz070 .ag-header-container {
  background-color: #ffccbe;
}

.cell-greater {
  background-color: var(--color-danger-15) !important;
}
.cell-less {
  background-color: var(--color-information-15) !important;
}

.ag-cell-value .ag-cell-expandable .ag-group-value {
  padding-right: 0.1rem;
}

.ag-cell-value .ag-row-group-leaf-indent .ag-group-value {
  padding-right: 0.1rem;
}

.ag-theme-alpine {
  --ag-row-group-indent-size: 1rem !important;
}
.ag-row-group-indent-0 {
  padding-left: 0 !important;
}
.ag-row-group-indent-1 {
  padding-left: 1rem !important;
}
.ag-row-group-indent-2 {
  padding-left: 2rem !important;
}
.ag-row-group-indent-3 {
  padding-left: 3rem !important;
}
.ag-row-group-indent-4 {
  padding-left: 4rem !important;
}
.ag-row-group-indent-5 {
  padding-left: 5rem !important;
}
